<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<body>
<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="<%= @product.image_url %>" />
                        
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="price"><%= @product.price %> €</p>
                    
                    
                        <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                        <%= @product.description %>.
                    </p>
                    
                </div>
            </div>
        </div>

       
                <%= form_for @order_item, remote: true  do |f|%>
                    <%= f.hidden_field :product_id, :value => @product.id %>
                    <%= f.number_field :quantity, :value => 1, :min =>  1%>
                <%= f.submit "Add to Card "%>
                <% end %>
           
                      
             
                <div id="card">
                <%= render 'cards/card'%>
              </div>
                   
                </div>
            </div>
        </div>
    </div>

    

       
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

