<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<div class="container" style="max-width: 200px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Mot de passe oublié?</h2>
        
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
      <%= f.submit "Demander un nouveau mot de passe", class: 'btn btn-outline-primary'  %>
      </div>
      <% end %><br>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

