<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<body style="background-image: url(https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
<div class="container" style="max-width: 350px;">
  <div class="row">
    <div class="col-md-12">
      <br><br><br>
       <h2 class="h3 mb-3 font-weight-normal text-center" style="color:white">Connexion</h2>
    
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :Mot_de_passe, "Mot de passe" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

      <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :Rester_connecté?, "Rester connecté" %>
          </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Se connecter", class: 'btn btn-outline-light' %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</body>