










<div class="container-fluid main-section">
    <div class="row">
        <div class="col-lg-12 pb-2">
            <h4>Ton panier</h4>
        </div>
        <div class="col-lg-12 pl-3 pt-3">
            <table class="table table-hover border bg-white">
                <thead>
                    <tr>
                    <th>Title</th>
                    <th>Prix</th>
                    <th style="width:10%;">Quantité</th>
                    <th>Ajouter au panier</th>
                    <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                <% @order_items.each do |item| %>
                    <tr>
                        <td>
                        <% if item.product %>
                            <div class="row">
                                <div class="col-lg-10">
                                   <h3><%= item.product.title %></h3>
                                </div>
                            </div>
                        </td>
                        <td><h5><%= item.product.price %></h5></td>
                        <td>
                            <%= form_for item, remote: :true do |f| %>

                                <%= f.hidden_field :product_id, :value => item.product.id%>
                                <%= f.number_field :quantity, :value => item.quantity.to_i%>

                              <td><%= f.submit "Actualise ton panier"%></td>
                             
                            <% end %>
                            <% end %>
                        <td><%= link_to "Remove Items", order_item_path(item), method: :delete, remote: :true %></td>
                    </tr> <td>Subtotal: <%= item.total %></td>
                    <% end %>
                
                
            </table>
        </div>
    </div>
</div>              
<h3>Ton panier est de: <%= current_order.subtotal %>€</h3>